name: Integration Test
run-name: Run integration test bash script

on:
  push:
    paths:
      - '**'
      - '!README.md'
  pull_request:

jobs:
  test_execution:
    runs-on: ubuntu-24.04
    defaults:
      run:
        shell: bash

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Setup ROS 2 Jazzy
        uses: ros-tooling/setup-ros@v0.7
        with:
          required-ros-distributions: jazzy

      - name: Install dependencies via rosdep
        run: |
          sudo apt-get update
          sudo rosdep init || true
          rosdep update
          rosdep install --from-paths . --ignore-src -y --rosdistro jazzy

      - name: Setup Workspace and Run Test Script
        run: |
          mkdir -p ~/ros2_ws/src/robot_safety_system
          cp -r . ~/ros2_ws/src/robot_safety_system/
          chmod +x ~/ros2_ws/src/robot_safety_system/test/test.bash
          echo "Starting integration test..."
          bash ~/ros2_ws/src/robot_safety_system/test/test.bash
